* {
  box-sizing: border-box;
}
body {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #3638dd 0%, #00d4ff 81%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.container {
  width: 80%;
  height: 70%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  font-weidgth: bold;
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  color: white;
}
nav ul li {
  margin: 0 15px;
  display: flex;
  algin-items: center;
}
nav ul li.active {
  background: #1149d4;
  padding: 3px 10px;
  border-radius: 8px;
}
.content {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}
.content img {
  position: absolute;
  width: 50%px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: move 2s infinite alternate ease-in-out;
}
.content .social-media {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  justify-content: center;
  color: white;
}
.content .social-media svg {
  margin: 15px 30px;
}
.content-text {
  color: white;
  width: 100%;
  padding: 0px 50px;
}
.content-text h1,
.content-text h3 {
  margin: 0;
}
.content-text h1 {
  font-size: 38px;
}
.content-text.right {
  text-align: right;
  margin-top: 230px;
}
.content-text.left {
  margin-top: -350px;
}
.pre-orden {
  background: #4365EA;
  margin-left: auto;
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 8px 0 0 0;
}
.pre-orden svg {
  margin-right: 15px;
}
@keyframes move {
  from {
    transform: translate(-50%, -55%);
  }
}